body {
    background-color: wheat;
}

div.steps {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

h1 {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

table {
    border: 2px solid black;
    border-collapse: separate;
}

td, th {
    border: 1px solid black;
    padding:  2px;
}


.container {
    align-items: baseline;
    border: 2px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

/* this tells the boxes how to shape when the browser size changes */
.stretch {
    width: fit-content;
    height: fit-content;
    
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.row > div {
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
}

.fill div {
    background-color: aqua;
    font-size: 40px;
    text-align: center;
}


